body {
  font-family: "Archivo", sans-serif;
  margin: 0;
  color: rgb(95, 92, 92);
}
section {
  display: flex;
}
h1 {
  font-size: 70px;
}
span {
  color: rgb(247, 120, 16);
}
.flexible-container {
  width: 100%;
}

.half {
  width: 50%;
  padding-left: 5%;
}
.half img {
  width: 80%;
}
.order-button {
  color: whitesmoke;
  background-image: linear-gradient(orange, rgb(240, 82, 54));
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
}

/*Middle Part*/

#bgimg {
  display: flex;
  background-image: url("/food-network-main/images/shapes/7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.contact-button {
  color: whitesmoke;
  background-image: linear-gradient(orange, rgb(240, 82, 54));
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
}
.half {
  width: 50%;
  padding-left: 10%;
  margin: 20px;
  margin-top: 30px;
}
.img {
  height: 60vh;
  margin-left: 20%;

}
.mid-div{
  width: 50%;
}

/*end of middle part*/

/*recipies*/

.recipies {
  text-align: center;
  width: 40%;
  padding-left: 450px;
  font-size: 18px;
}
/*end recipites*/

/*Three-image recipies begin*/

.recipies-img {
  background-repeat: no-repeat;
  background-position: left;
}

.three-img {
  width: 20%;
  margin-right: 6%;
  margin-left: 6%;
  border-radius: 15px;
  box-sizing: border-box;
  box-shadow: 5px 5px 10px gray;
   border: 20px solid white;
}
.seafood {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
 
  border-color: whitesmoke;
  border-radius: 10px;
}
.salad {
  width: 100%;
  background-size: 80%;
  background-repeat: no-repeat;
  
  border-color: whitesmoke;
  border-radius: 10px;
}
.spicy-item {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
 
  border-color: whitesmoke;
  border-radius: 10px;
}
/*Three-image recipies end*/

/*subscriber begin*/

.subs{
  text-align: center;
  border: 10px solid rgb(248, 243, 243);
  border-radius: 20px;
  box-shadow: 10px;
  
  margin: 40px;
  padding-bottom: 40px;
  
}
.subscriber{
  
width: 20%;
 padding-left: 10%;
 padding-top: 10%;
 color: black; 
 
  }


/*subscriber end*/

/*footer begin*/

.footer{
  background-color: black;
  text-align: center;
  font-size: 20px;
  padding: 40px;
}




/*footer end*/