body {
  font-family: "Archivo", sans-serif;
  margin: 0;
  color: rgb(95, 92, 92);
}
section {
  display: flex;
}
h1 {
  font-size: 70px;
}
span {
  color: rgb(247, 120, 16);
}
.flexible-container {
  width: 100%;
}

.half {
  width: 50%;
  padding-left: 5%;
}
.half img {
  width: 80%;
}
.order-button {
  color: whitesmoke;
  background-image: linear-gradient(orange, rgb(240, 82, 54));
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
}

/*Middle Part*/

#bgimg {
  display: flex;
  background-image: url("food-network-main/images/shapes/7.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

.details-button {
  color: whitesmoke;
  background-image: linear-gradient(orange, rgb(240, 82, 54));
  text-decoration: none;
  border-radius: 20px;
  font-weight: 50;
  padding: 10px 20px;
  padding-top: 10px;
}
.half {
  width: 50%;
  padding-left: 10%;
  margin: 20px;
  margin-top: 30px;
}
.img {
  height: 60vh;
  margin-left: 20%;
}
.mid-div {
  width: 50%;
  padding-left: 10%;
}
.mid {
  width: 40%;
  padding-left: 10%;
  padding-right: 30%;
  text-align: left;
  margin-top: 30px;
  font-size: 18px;
}

/*end of middle part*/

/*recipies*/

.recipies {
  text-align: center;
  width: 40%;
  padding-left: 30%;
  font-size: 16px;
}
/*end recipites*/

/*Three-image recipies begin*/

.recipies-img {
  background-repeat: no-repeat;
  background-position: left;
}

.three-img {
  width: 15%;
  margin-right: 6%;
  margin-left: 9%;
  border-radius: 15px;
  box-shadow: 5px 5px 10px gray;
  border: 20px solid white;
  color: black;
}
.seafood {
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;

  border-color: whitesmoke;
  border-radius: 10px;
}
.salad {
  width: 100%;
  background-size: 80%;
  background-repeat: no-repeat;

  border-color: whitesmoke;
  border-radius: 10px;
}
.spicy-item {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;

  border-color: whitesmoke;
  border-radius: 10px;
}
/*Three-image recipies end*/

/*subscriber begin*/

.subs {
  text-align: center;
  border: 20px solid rgb(253, 247, 247);
  border-radius: 50px;
  margin: 10%;
  padding-bottom: 40px;
}
.subscriber {
  width: 15%;
  margin-right: 6%;
  margin-left: 8%;
  border-radius: 15px;

  border: 20px solid white;
}

/*subscriber end*/

/*footer begin*/

.footer {
  background-color: rgb(236, 215, 215);
  text-align: center;
  font-size: 20px;
  padding: 40px;
}

/*footer end*/

/*contact Us begin*/
.contact-us {
  background-color: rgb(0, 0, 0);
  display: block;
  text-align: center;
  color: rgb(209, 212, 212);
}
/*social media icon*/
.fa {
  padding: 10px;

  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa-facebook {
  background: #3b5998;
  color: white;
}
.fa-twitter {
  background: #55acee;
  color: white;
}
.fa-instagram {
  background: #db93e9;
  color: white;
}

.name {
  width: 10%;
  height: 5%;
  border: 5px;
  border-radius: 5px;
  background-color: rgb(236, 215, 215);
}
.email {
  width: 10%;
  border-radius: 5px;
  background-color: rgb(236, 215, 215);
}
.comment {
  padding: 4%;
  width: 12%;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(236, 215, 215);
}
.submit-button {
  color: rgb(24, 21, 21);
  background-color: rgb(236, 215, 215);
  text-decoration: none;
  border-radius: 20px;
  font-weight: 500;
  padding: 10px 20px;
}
.text {
  text-align: center;
  padding: 15px;
  font-size: 20px;
}

/*contact Us end*/
